{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 52.3731339,
        "longitude": 4.8903147,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Maison",
        "time_zone": "UTC",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}